html {
  height: 100%;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-color: #fff;
}

.container {
  text-align: center;
  width: 400px;
  height: 400px;
  border-radius: 30px;
  background-color: #333;
  border: #999 solid 30px;
}

.container h1 {
  font-size: 50px;
  margin-top: 60px;
  margin-bottom: 20px;
  color: #ffaa00;
}

.clock {
    font-size: 32px;
    background-color: #000;
    margin: 0 auto;
    padding: 10px;
    border-radius: 10px;
    border: #fff solid 2px;
    width: 60%;
    color: #00f7ff;
    text-shadow:
        0 0 5px #00f7ff,
        0 0 10px #00f7ff,
        0 0 20px #00f7ff,
        0 0 40px #00f7ff;
}

#time {
  
}


#date {
  font-size: 20px;
  margin-top: 10px;
  color: #fff;
  border-top: #fff solid 2px;
}

.controls {
  display: inline-block;
  margin-top: 20px;
}

.controls button {
  background-color: #ffaa00;
  border: none;
  padding: 10px 20px;
  margin: 0px 6px;
  border-radius: 5px;
  color: #000;
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
}
